

    
<%- include("head") -%>
<link rel="stylesheet" href="floating-labels.css">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

<!-- Bootstrap core CSS -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./css/floating-labels.css" rel="stylesheet">

<link rel="stylesheet" href="./css/miriCollect.css">

</head>
  
<body>
    
    
<%- include("navbar") -%>

<section>


  <div class="album py-5">
    <h2 class="shippingTitle pb-5">How to use Parcel Hero</h2>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/add_shipping_address.png" width="100%" focusable="false">
            <div class="instruction-card card-body">
              <p class="text-body-primary">Use Parcel Hero Shipping Info</p>
              <p class="text-body-secondary">Select your items on your favorite E-Commerce website, checkout, and edit the shipping information shown below.</p>              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/place_order.png" width="100%" focusable="false">
            <div class="instruction-card card-body">
              <p class="text-body-primary">Order Your Item Online</p>
              <p class="text-body-secondary">Place your order. The item will then be received at our warehouse in Miri where it will be dispatched to your prefered collection location.</p>              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/parcelhero_register.png" width="100%" focusable="false">
            <div class="instruction-card card-body">
              <p class="text-body-primary">Register on ParcelHero</p>
              <p class="text-body-secondary">After completing registration and payment on Parcel Hero's website, you will be informed by WhatsApp when your order is ready to collect.</p>
              <div class="d-flex justify-content-between align-items-center">

              </div>
            </div>
          </div>
        </div>

</section>



  <%- include("shippingDetails") -%>

    
    
  <%- include("registerOrder") -%>

  <br><br><br><br><br><br><br><br>

  
</body>

<%- include("footer") -%>