

    
<%- include("head") -%>
<link rel="stylesheet" href="floating-labels.css">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

<!-- Bootstrap core CSS -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./css/floating-labels.css" rel="stylesheet">

<link rel="stylesheet" href="./css/miriCollect.css">

</head>
  
<body>
    
<%- include("navbar") -%>

<section>


  <div class="album py-5">
    <h2 class="shippingTitle pb-5">How to use Parcel Hero</h2>

    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/add_shipping_address.png" width="100%" focusable="false">
            <div class="instruction-card card-body">
              <p class="text-body-primary">Order your item from your favorite E-Commerce website using Parcel Hero's address</p>
              <p class="text-body-secondary">Your order will then be recieved at Parcel Hero's warehouse in Miri.</p>              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/place_order.png" width="100%" focusable="false">
            <div class="instruction-card card-body">
              <p class="text-body-primary">Save the order invoice as pdf</p>
              <p class="text-body-secondary">Find the confirmation email, click 'print' and under 'destination' chose 'save as pdf'. You will need to upload this invoice to complete registration.</p>              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/images/parcelhero_register.png" width="100%" focusable="false">
            <div class="instruction-card card-body">
              <p class="text-body-primary">Register and purchase the Parcel Hero service here</p>
              <p class="text-body-secondary">Complete the registration by uploading the order invoice and filling the required information.</p>
              <div class="d-flex justify-content-between align-items-center">

              </div>
            </div>
          </div>
        </div>

</section>



  <%- include("shippingDetails") -%>

    
    
  <%- include("registerOrder") -%>

  <br><br><br><br><br><br><br><br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <!-- <script src="~/formatPrice.js"></script> -->
  <script>
  $(document).ready(function(){
  
  
  $('#radioMiriCollect').change(function() {
    $(".hideDivForMiri").addClass("invisible");
    $(".requiredForJeudong").removeAttr('required');
    $('#registerOrderForm').attr('action', '/registerOrderMiri');
    $('#registerOrderForm').attr('enctype', 'application/x-www-form-urlencoded');
  });
  
  $('#radioBruneiCollect').change(function() {
    $(".hideDivForMiri").removeClass("invisible");
    $(".requiredForJeudong").attr('required', '');
    $('#registerOrderForm').attr('action', '/registerOrderJerudong');
    $('#registerOrderForm').attr('enctype', 'multipart/form-data');
  
  });
  
      var collectPoint = '<%= collectPoint %>';
      if(collectPoint == 'miriCollect'){
      $('#testHeader').text("in miri " + collectPoint);
      $('#radioMiriCollect').prop('checked', true);
      $('#radioBruneiCollect').prop('checked', false);
      $('#radioMiriCollect').trigger("change");
  
      }else{
      $('#testHeader').text("in jerudong " + collectPoint);
      $('#radioMiriCollect').prop('checked', false);
      $('#radioBruneiCollect').prop('checked', true);
      $('#radioBruneiCollect').trigger("change");
  
      }
  
  });
  </script>
</body>

<%- include("footer") -%>